<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Clicker{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('assetic/bootstrap.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/app/style.css') }}" rel="stylesheet">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <!-- Static navbar -->
            <nav class="navbar navbar-default">
                {% if app.request.get('_route') != '' %}
                    {% set currentPath = path(app.request.get('_route'), app.request.get('_route_params')) %}
                {% else %}
                    {% set currentPath = path('home_index') %}
                {% endif %}
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('home_index') }}">Clicker</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li {% if currentPath == path('home_index') %}class="active"{% endif %}><a href="{{ path('home_index') }}">Home</a></li>
                            <li {% if currentPath == path('link_index') %}class="active"{% endif %}><a href="{{ path('link_index') }}">Links</a></li>
                            <li {% if currentPath == path('referrer_bad_referrers') %}class="active"{% endif %}><a href="{{ path('referrer_bad_referrers') }}">Bad Referrers</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li {% if currentPath == path('about_index') %}class="active"{% endif %}><a href="{{ path('about_index') }}">About</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </nav>

            {% block content %}{% endblock %}
        </div>

        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="{{ asset('assetic/bootstrap_js.js') }}"></script>
        {% endblock %}
    </body>
</html>