{% extends '::base.html.twig' %}

{% block content %}
    <h2>Bad Referrers</h2>

    <div class="panel panel-default">
        <div class="panel-heading">{{ 'page.referrer.bad_referrers.heading'|trans }}</div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>{{ 'page.referrer.bad_referrers.referrer'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for badReferrerClick in badReferrerClicks %}
                <tr {% if is_bad_domain(badReferrerClick.referrer) %}class="tr-background-error"{% endif %} >
                    <td>{{ loop.index }}</td>
                    <td>{{ badReferrerClick.referrer }}</td>
                    <td>
                        <button type="button" data-click-id="{{ badReferrerClick.id }}" title="Add domain to black list" class="btn btn-default btn-xs add-to-black-btn">
                            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                            {{ 'page.referrer.bad_referrers.add_to_black_list'|trans }}
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}