<div class="panel panel-default">
    <div class="panel-heading">{{ 'page.click.show_all.click_list'|trans }}</div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'page.click.show_all.ip'|trans }}</th>
            <th>{{ 'page.click.show_all.referrer'|trans }}</th>
            <th>{{ 'page.click.show_all.user_agent'|trans }}</th>
            <th>{{ 'page.click.show_all.param_1'|trans }}</th>
            <th>{{ 'page.click.show_all.param_2'|trans }}</th>
            <th>{{ 'page.click.show_all.errors'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for click in clicks %}
            <tr {% if click.error > 0 %}class="tr-background-error"{% endif %}>
                <td><b>{{ click.id }}</b></td>
                <td>{{ click.ip }}</td>
                <td>{{ click.referrer }}</td>
                <td>{{ click.userAgent }}</td>
                <td>{{ click.firstParam }}</td>
                <td>{{ click.secondParam }}</td>
                <td><b>{{ click.error }}</b></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>